/* jrg-dragster */
.demo .drag-badge {
  display: inline-block;
  padding: 5px 14px 5px 28px;
  background: #F5F5F5;
  margin: 7px;
  border-radius: 999px;
  position: relative;
}
.demo .drag-badge img {
  position: absolute;
  display: block;
  left: 16px;
  top: 50%;
  height: 16px;
  width: 16px;
  margin-top: -8px;
  margin-left: -8px;
  -webkit-background-size: contain;
  background-size: contain;
}
[dragster-dropzone],
.dragster-dropzone {
  background-color: transparent;
  -moz-transition: background-color 180ms ease-in-out;
  -o-transition: background-color 180ms ease-in-out;
  -webkit-transition: background-color 180ms ease-in-out;
  transition: background-color 180ms ease-in-out;
  position: relative;
}
[dragster-dropzone].dragster--dropzone:after,
.dragster-dropzone.dragster--dropzone:after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
  border: 3px dashed rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}
[dragster-dropzone].dragster--hover,
.dragster-dropzone.dragster--hover {
  background-color: #eee;
}
